@model IEnumerable<Product_CRUD.Models.categories>
@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Here is List of Categories...!</h2>
<a href="@Url.Action("Categories","Home")" class="btn btn-outline-dark">Create New</a>

@*table started*@
@Html.Raw(TempData["Insert"])

<div class="container mt-5">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Category Name</th>
                <th scope="col">Category Description</th>
                <th scope="col">Select Categories</th>
                <th scope="col">Status</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(ModelItem => item.id)</th>
                    <td>@Html.DisplayFor(model => item.category_name)</td>
                    <td>@Html.DisplayFor(model => item.category_description)</td>

                    <td>
                        @if (item.catergory_status == true)
                        {
                            <a href="@Url.Action("product_index","Home",new {id=item.id})" class="btn btn-outline-info">View</a>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("Catergory_Status", "Home", new { id = item.id }))
                        {
                            <input type="submit" class="btn btn-outline-primary" value="@(item.catergory_status ? "Deactivate" : "Activate")" />
                        }

                    </td>
                    @if (item.catergory_status == true)
                    {
                        <td>
                            <a href="@Url.Action("update_categories","Home",new {id=item.id})" class="btn btn-outline-info">Update</a>
                        </td>
                        <td>
                            <a href="@Url.Action("delete_categories","Home",new {id=item.id})" class="btn btn-outline-danger">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
